* {
    --firm-blue: #053868;
    --bg: #EDF4FB;
    --light-blue: #E5EDF5;
    --dark-blue: #2D3D58;
    --dark: #323941;
    --grey: #6D727A;
    --ed: #EDEDED;
    --border-color: #D5D8DE;
    --tr-color: #FAFAFA;
    --yellow: #FFC211;
}